name: Linter

on:
  push:
    branches:
      - main
      - v*
    paths:
      - "**/*.go"
      - ".github/workflows/linter.yml"
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "**/*.go"
      - ".github/workflows/linter.yml"

jobs:
  lint:
    if: github.repository == 'Shadowsocks-NET/v2ray-go'
    runs-on: ubuntu-latest
    container:
      image: archlinux/archlinux:base-devel
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          pacman -Syu --needed --noconfirm go protobuf

      - name: Run go generate
        run: |
          go generate proto.go
          go generate

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2.5.2
        with:
          version: latest
          args: --config=.github/linters/.golangci.yml
          only-new-issues: true
